.button-container {
    display: flex;
    gap: 10px; /* Espaçamento entre os botões */
    margin-top: 10px; /* Espaçamento acima dos botões */
  }
  
  .create-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
  }
  
  .create-button:hover {
    background-color: #218838;
    color: #fff;
  }
  
  .back-button {
    background-color: #292929;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
  

  .task-card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px solid #218838;
  }
  
  
  .task-card-title {
    font-size: 1rem;
    font-weight: light;
    color: #333;
    text-decoration: none;
    align-items: center;
  }
  
  
  
  
  .task-card-title:hover {
    color: #4CAF50;
  }
  
  
  .task-card-actions {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-direction: row;
    align-content: stretch;
    align-items: baseline;
  }
  
  
  
  .task-card-link {
    color: #4CAF50;
    cursor: pointer;
    text-decoration: none;
  }
  
  
  .task-card-delete-button {
    padding: 5px 10px;
    color: #ffffff;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
  }